<%- model_class = RouteStop -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:pos) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:distance) %></th>
      <th><%= model_class.human_attribute_name(:bus_route_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @route_stops.each do |route_stop| %>
      <tr>
        <td><%= link_to route_stop.id, route_stop_path(route_stop) %></td>
        <td><%= route_stop.pos %></td>
        <td><%= route_stop.name %></td>
        <td><%= route_stop.distance %> m</td>
        <td><%= route_stop.bus_route.route_number if route_stop.bus_route %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_route_stop_path(route_stop), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      route_stop_path(route_stop),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_route_stop_path,
            :class => 'btn btn-primary' %>
