<%- model_class = RouteStop -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:pos) %>:</strong></dt>
  <dd><%= @route_stop.position %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @route_stop.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:distance) %>:</strong></dt>
  <dd><%= @route_stop.distance %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bus_route_id) %>:</strong></dt>
  <dd><%= @route_stop.bus_route_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              route_stops_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_route_stop_path(@route_stop), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              route_stop_path(@route_stop),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
