<%= form_for @bus, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :bus_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bus_number, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_stop, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_stop, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :next_stop, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :next_stop, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :time_to_next_stop, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :time_to_next_stop, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :latitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :latitude, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :longitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :longitude, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bus_route_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :bus_route_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                buses_path, :class => 'btn' %>
  </div>
<% end %>
