<%- model_class = Bus -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:bus_number) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:last_stop) %></th>
      <th><%= model_class.human_attribute_name(:next_stop) %></th>
      <th><%= model_class.human_attribute_name(:time_to_next_stop) %></th>
      <th><%= model_class.human_attribute_name(:latitude) %></th>
      <th><%= model_class.human_attribute_name(:longitude) %></th>
      <th><%= model_class.human_attribute_name(:bus_route_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @buses.each do |bus| %>
      <tr>
        <td><%= link_to bus.id, bus_path(bus) %></td>
        <td><%= bus.bus_number %></td>
        <td><%= bus.description %></td>
        <td><%= bus.last_stop %></td>
        <td><%= bus.next_stop %></td>
        <td><%= bus.time_to_next_stop %></td>
        <td><%= bus.latitude %></td>
        <td><%= bus.longitude %></td>
        <td><%= bus.bus_route_id %></td>
        <td><%=l bus.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_bus_path(bus), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      bus_path(bus),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bus_path,
            :class => 'btn btn-primary' %>
