<%- model_class = Bu -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:bus_number) %>:</strong></dt>
  <dd><%= @bus.bus_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @bus.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_stop) %>:</strong></dt>
  <dd><%= @bus.last_stop %></dd>
  <dt><strong><%= model_class.human_attribute_name(:next_stop) %>:</strong></dt>
  <dd><%= @bus.next_stop %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time_to_next_stop) %>:</strong></dt>
  <dd><%= @bus.time_to_next_stop %></dd>
  <dt><strong><%= model_class.human_attribute_name(:latitude) %>:</strong></dt>
  <dd><%= @bus.latitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:longitude) %>:</strong></dt>
  <dd><%= @bus.longitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bus_route_id) %>:</strong></dt>
  <dd><%= @bus.bus_route_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              buses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_bus_path(@bus), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              bus_path(@bus),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
