<%= form_for @bus_route, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :route_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :route_number, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :first_stop, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_stop, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_stop, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_stop, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :link, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bus_routes_path, :class => 'btn' %>
  </div>
<% end %>
