<%- model_class = BusRoute -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:route_number) %></th>
      <th><%= model_class.human_attribute_name(:first_stop) %></th>
      <th><%= model_class.human_attribute_name(:last_stop) %></th>
      <th><%= model_class.human_attribute_name(:link) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bus_routes.each do |bus_route| %>
      <tr>
        <td><%= link_to bus_route.id, bus_route_path(bus_route) %></td>
        <td><%= bus_route.route_number %></td>
        <td><%= bus_route.first_stop %></td>
        <td><%= bus_route.last_stop %></td>
        <td><%= link_to "Ver link", bus_route.full_link, title: bus_route.full_link, target: :blank %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_bus_route_path(bus_route), :class => 'btn btn-mini' %>
                      
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      bus_route_path(bus_route),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bus_route_path,
            :class => 'btn btn-primary' %>
