<%- model_class = BusRoute -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:route_number) %>:</strong></dt>
  <dd><%= @bus_route.route_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:first_stop) %>:</strong></dt>
  <dd><%= @bus_route.first_stop %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_stop) %>:</strong></dt>
  <dd><%= @bus_route.last_stop %></dd>
  <dt><strong><%= model_class.human_attribute_name(:link) %>:</strong></dt>
  <dd><%= @bus_route.link %></dd>
  <dt><strong>Paradas: </strong></dt>
  <dd>
    <% if !@bus_route.route_stops.blank? %>
      <ul>
      <% for stop in @bus_route.route_stops.all(order: "pos asc") %>
        <li><%= "#{stop.pos} - #{stop.name} (#{stop.distance}m)"%></li>
      <% end %>
      </ul>
    <% else %>
      No hay paradas asignadas a esta ruta
    <% end %>
    
  </dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              bus_routes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_bus_route_path(@bus_route), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              bus_route_path(@bus_route),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
